@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
@keyframes rotation{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #ffffff;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: #a1ff96;
     clip-path: circle(70% at right -20%);
     animation: transitionIn 5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    max-width: 200px;
    animation: transitionIn 6s;
    animation: rotation 2s;
}

.navigation {
    position: relative;
    display: flex;
}

.navigation li {
    list-style: none; 
}

.navigation li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
    font-size: 120%;
    transition: 0.2s ease-in-out;
    border-radius: 20%;
    
}

.navigation li a:hover {
    background: #fff;
    animation: rotation 0.5s;
}

.content {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    animation: transitionIn 4s;
}

.textbox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.textbox h2 {
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-weight: 700;
}

.sci {
    position: absolute;
     bottom: 40px;
     left: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block ;
    margin-left: 15px ;
    background: #fff;
    width: 55px;
    height:  55px;
    display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #a1ff96;
    transform: translateY(-10px);
}

.sci li a img {
    transform: scale(0.7);
}

.shoespng {
    width: 60%;
    position: relative;
    
}


@media(max-width: 748px) {
    .textbox h2{
        font-size: 2em;
    }
    .logo {
        right: 50px;
    }
    .sci li a {
        position: relative;
        top: 300px;
        
    }
    .shoespng {
        width: 90%;
        position: relative;
        top: 350px;
        right: 150px;
    }
}

@media(max-width: 680px) {
    .navigation {
        display: none;
    }
    .navigation.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#a1ff96, #c0ffb9);
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 2em;
    }
    .textbox h2 {
        margin-top: 200px;
    }
    .toggle {
        position: relative;
        width: 50px;
        height: 50px;
        background: url(./png/menu.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 9999;
        left: 50px;
    }
    .toggle.active {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./png/close.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 9999;
        left: 50px;
    }
    .shoespng {
        top: 450px;
    }
}

@media(max-width: 496px) {
    .shoespng {
        top: 550px;
    }
}
@media(max-width: 446px) {
    .gg {
        width: 30px;
    }
    .logo {
        max-width: 150px;
    }
}